<div class="container" width="800px" id="invoice" >
    <div class="row">
        <div class="col-xs-12 heading">
        {{Invoice}}
        </div>
    </div>
    <div class="row branding">
        <div class="col-xs-6">
            <div class="invoice-number-container">
                <label for="invoice-number">Invoice #</label>
                <input type="text" id="invoice-number" [(ngModel)]='invoice_number' />
            </div>
        </div>
        <div class="col-xs-6 logo-container">
        <input type="file" id="imgInp" />
        <img id="company_logo" [src]="logoUrl" alt="PC Logo Image" />
        </div>
    </div>
    <div class="row infos">
        <div class="col-xs-6">
        <div class="input-container"><label for="customer_name">Name</label><input id="customer_name" type="text" [(ngModel)]="customer.Name"/></div>
        <div class="input-container"><label for="customer_phoneNumber">Phone</label><input id="customer_phoneNumber" type="text" [(ngModel)]="customer.PhoneNumber"/></div>
        <div class="input-container"><label for="customer_address1">Address 1</label><input id="customer_address1" type="text" [(ngModel)]="customer.Address1"/></div>
        <div class="input-container"><label for="customer_address2">Address 2</label><input id="customer_address2" type="text" [(ngModel)]="customer.Address2"/></div>
        </div>
        <div class="col-xs-6 right">
        <div class="input-container"><input type="text" [(ngModel)]="company.Name"/></div>
        <div class="input-container"><input type="text" [(ngModel)]="company.Address1"/></div>
        <div class="input-container"><input type="text" [(ngModel)]="company.Address2"/></div>
        <div class="input-container"><input type="text" [(ngModel)]="company.PhoneNumber"/></div>
        <div class="input-container"><input type="text" [(ngModel)]="company.GSTin"/></div>
        </div>
    </div>
    <div class="items-table">
        <div class="row header">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-5">Description</div>
        <div class="col-xs-2">Quantity</div>
        <div class="col-xs-2">Cost {{currencySymbol}}</div>
        <div class="col-xs-2 text-right">Total</div>
        </div>
        <div class="row invoice-item" *ngFor='let item of items'  ng-animate="'slide-down'">
        <div class="col-xs-1 remove-item-container">
            <button [hidden]="printMode" (click)="removeItem(item)" class="btn btn-danger">[X]</button>
        </div>
        <div class="col-xs-5 input-container">
            <input [(ngModel)]='item.description' placeholder="Description" />
        </div>
        <div class="col-xs-2 input-container">
            <input [(ngModel)]='item.quantity' value="1" size="4" required ng-validate="integer" placeholder="Quantity" />
        </div>
        <div class="col-xs-2 input-container">
            <input [(ngModel)]='item.cost' value="0.00" ng-required ng-validate="number" size="6" placeholder="Cost" />
        </div>
        <div class="col-xs-2 text-right input-container">
            {{item.total | currency: currencySymbol}}
        </div>
        </div>
        <div class="row invoice-item">
        <div class="col-xs-12 add-item-container" [hidden]="printMode">
            <button class="btn btn-primary" (click)="addItem()" >[+]</button>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-10 text-right">Sub Total</div>
        <div class="col-xs-2 text-right">{{invoiceSubTotal() | currency: currencySymbol}}</div>
        </div>
        <div class="row">
        <div class="col-xs-10 text-right">Tax(%): <input [(ngModel)]="gst" ng-validate="number" style="width:43px"></div>
        <div class="col-xs-2 text-right">{{calculateTax() | currency: currencySymbol}}</div>
        </div>
        <div class="row">
        <div class="col-xs-10 text-right">Grand Total:</div>
        <div class="col-xs-2 text-right">{{calculateGrandTotal() | currency: currencySymbol}}</div>
        </div>
    </div>
    <div class="row noPrint actions">
        <button class="btn btn-primary" *ngIf='printMode' (click)="printInfo()">Print</button>
        <button class="btn btn-primary" *ngIf='!printMode' (click)="clearLocalStorage()">Reset</button>
        <button class="btn btn-primary" *ngIf='!printMode' (click)="setPrint()">Turn On Print Mode</button>
        <button class="btn btn-primary" *ngIf='printMode' (click)="unsetPrint()">Turn Off Print Mode</button>
    </div>
</div>